@keyframes grow {
    0% { font-size: 0; }
    100% { font-size: 16px; }
}
@media screen and (min-width: 650px) {
    table.eduqualification {
        animation-name: grow;
        animation-duration: 3s;
    }
    .introduction {
        animation-duration: 3s;
        animation-name: grow;
    }
}