progress[value] {
    -webkit-appearance: none;
    height: 20px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 2px;
}
progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
    background-color: #6495ED;
}
.row {
    margin: 20px;
}