.navbar-nav {
    background-color: #52658f;
    padding-top: 10px;
    width: 100%;
}
.navbar-nav a {
    transition: background-color 2s, font-size 1s;
    transition-duration: 1s;
    color: #E8E8E8;
    font-size: 20px;
    font-weight: bold;
}
li {
    transition: background-color 0s, font-size 1s;
    transition-duration: 1s;
}
.container-fluid .navbar-nav a:hover, .container-fluid .navbar-nav a:focus {
    font-size: 30px;
    background-color: transparent;
    color: #E8E8E8;
}
.section-container {
    padding: 100px;
}
footer .container-fluid {
    background-color: #E8E8E8;
}
footer li a {
    color: #52658f;
}