body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: black;
}
header {
  color: white;
  background-color: gray;
  height: 50px;
}
h1 {
  padding: 5px;
}
section {
  padding: 10px;
}
table.eduqualification td:not(:first-child), table.eduqualification th:not(:first-child) {
  text-align: center;
}
table.eduqualification > tbody > tr > th, table.eduqualification > tbody > tr > td {
  border-top-color: gray;
  border-bottom-color: gray;
}
td {
  border-bottom: 1px solid gray;
}